version: '3.9'

services:
  web:
    build: .
    ports:
      - "5001:5001"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    networks:
      - appnet

  redis:
    image: redis:latest
    networks:
      - appnet

networks:
  appnet:
